lazygit/.config/lazygit/state.yml
zsh/powerlevel10k
Obsidian/.config/obsidian/*
!Obsidian/.config/obsidian/obsidian.json


.obsidian
neovim/.config/devaslife/.luarc.json

**.swp
cursors/.icons/catppuccin-mocha-sky-cursors
**/lazyvim.json
**/lazy-lock.json
**.lock
Synergy/.var/app/com.symless.synergy/config/Synergy/synergyCert.pem
