lazygit/.config/lazygit/state.yml
Obsidian/.config/obsidian/*
!Obsidian/.config/obsidian/obsidian.json


.obsidian
neovim/.config/devaslife/.luarc.json

**.swp
cursors/.icons/catppuccin-mocha-sky-cursors
**/lazyvim.json
**/lazy-lock.json
**.lock
!MacOS/.config/nix/flake.lock
!NixArch/.config/home-manager/flake.lock
Synergy/.var/app/com.symless.synergy/config/Synergy/synergyCert.pem
yazi/.config/yazi/keymap.toml-1780739738678217
