lazygit/.config/lazygit/state.yml
zsh/powerlevel10k
Obsidian/.config/obsidian/*
!Obsidian/.config/obsidian/obsidian.json


neovim/.config/LazyVim/lazy-lock.json
.obsidian
neovim/.config/devaslife/lazy-lock.json
neovim/.config/devaslife/.luarc.json

**.swp
